<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="noindex,nofollow">          
        <title>xiaoxiao</title>
        <meta name="description" content="xiaoxiao">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="">
        
{exp:automin:less attribute:type="text/css" attribute:rel="stylesheet" attribute:media="screen, projection"}		
		
        <link rel="stylesheet" href="/css/fonts.less">
        <link rel="stylesheet" href="/css/normalize.less">
        <link rel="stylesheet" href="/css/reset.less">			
        <link rel="stylesheet" href="/css/vendor/bootstrap.min.less">
		<link rel="stylesheet" href="/js/vendor/fancybox/jquery.fancybox.less">
        <link rel="stylesheet" href="/js/vendor/royalslider/royalslider.less">
		<link rel="stylesheet" href="/js/vendor/royalslider/skins/default/rs-default.less">
		<link rel="stylesheet" href="/css/vendor/owl.carousel.less">
		
		
        <link rel="stylesheet" href="/css/main.less">
{/exp:automin:less}        


		{exp:automin:js attribute:type="text/javascript"}
		<script src="/js/vendor/mobile-detect.js"></script>
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="/js/vendor/mobile-detect-modernizr.js"></script>
		{/exp:automin:js}        
        
        
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
		{embed="inc/.mobile_detect.html"}   
        
        
        {layout:contents}
        
        
        
        
{exp:automin:js attribute:type="text/javascript"}
	<script src="/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="/js/vendor/isotope.js"></script>
    <script src="/js/vendor/jquery.fitvids.js"></script>
    <script src="/js/vendor/fancybox/jquery.fancybox.pack.js"></script>    
    <script src="/js/vendor/royalslider/jquery.royalslider.min.js"></script>
    <script src="/js/vendor/owl.carousel.min.js"></script>
    
    
    <script src="/js/main.js"></script>        
{/exp:automin:js}         
    </body>
</html>
