{layout="inc/.layout"}

<div class="holding-page-wrapper meta">
	<div class="display-table">
		<div class="display-table-cell">
			<div class="holding-page-inner">
				<div class="row">
					<div class="col-sm-4 col">
						<div class="copy-wrapper">
							<section class="top-section">
								<h1>xiaoxiao</h1>
								<div>mixed media artist</div>
							</section>
							<section class="middle-section">
								<div>Thanks for your coming!</div>
								<div>I am working on a new website.</div>
								<div>In the meantime I am on:</div>
								<ul class="clearfix">
									<li><a class="anchor-block" target="_blank" href="http://cargocollective.com/soupsmallsmall"><img src="/css/img/holding_page_social_icon/cargo_new.png" alt=""></a></li>
									<li><a class="anchor-block" target="_blank" href="https://www.behance.net/greensoup"><img src="/css/img/holding_page_social_icon/behance_new.png" alt=""></a></li>
									<li><a class="anchor-block" target="_blank" href="https://www.linkedin.com/in/xiaoxiaosoup"><img src="/css/img/holding_page_social_icon/Linkedin_new.png" alt=""></a></li>
									<li><a class="anchor-block" target="_blank" href="mailto:soupsmallsmall@hotmail.com"><img src="/css/img/holding_page_social_icon/email_new.png" alt=""></a></li>
								</ul>
							</section>
							<section class="bottom-section">
								<div>See you soon!</div>
							</section>
						</div>
					</div>
					<div class="col-sm-8 col">
						<div class="reel-video-wrapper fitvids-wrapper">
							<iframe src="https://player.vimeo.com/video/103202099?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>