{layout="inc/.layout"}
<div class="commercial-works-wrapper">
    <div class="container-fluid">
        <div class="row">
            {exp:low_reorder:entries set="commercial_works" disable="member_data|category_fields"}
            <div class="col-sm-6 col-md-4 col">           
                <figure class="work-item-thumbnail commercial-ajax-trigger" data-link="/commercial-works/work-display/{url_title}">
                	<div class="img-wrapper">
		                {thumbnail}
		                <img class="img-fullwidth" src="{url}" alt="{alt_text}">
		                {/thumbnail}               		
                	</div>

	                <div class="meta">
	                    <div class="display-table">
	                        <div class="display-table-cell">
	                            <h3>{title}</h3>
	                        </div>
	                    </div>
	                </div>
                </figure> 
            </div>
            {/exp:low_reorder:entries}
        </div>
    </div>
</div>

<div class="commercial-work-item-container">
	<div class="close-icon"></div>
	<div id="ajax-wrapper" class="fitvids-wrapper"></div>
</div>
