<div id="ajax-target" class="commercial-work-item">
	
	
	
	<div class="media-wrapper">
				
		<div class="video-wrapper">
			
			<div class="video">
				{exp:channel:entries channel="commercial_works" limit="1" disable="categories|member_data|pagination"}
				    {exp:channel_videos:videos entry_id="{entry_id}" embed_width="16" embed_height="9" }
				        {video:embed_code_hd}
				    {/exp:channel_videos:videos}
			    {/exp:channel:entries}				
			</div>
				
		
			
			<div class="relative-entry-link-wrapper prev-entry-link-wrapper">
				{exp:low_reorder:prev_entry set="commercial_works" url_title="{segment_3}" loop="yes"}
					<div class="elegant-icon relative-entry-link prev-entry-link commercial-ajax-trigger" data-link="/commercial-works/work-display/{url_title}">&#x23;</div>
				{/exp:low_reorder:prev_entry}
				
			</div>
			
			
			<div class="relative-entry-link-wrapper next-entry-link-wrapper">			
				{exp:low_reorder:next_entry set="commercial_works" url_title="{segment_3}" loop="yes"}
					<div class="elegant-icon relative-entry-link next-entry-link commercial-ajax-trigger" data-link="/commercial-works/work-display/{url_title}">&#x24;</div>
				{/exp:low_reorder:next_entry}			
			</div>
	    
		</div>  
	    		
	</div>
	
	
	
	
	{exp:channel:entries channel="commercial_works" limit="1" disable="categories|member_data|pagination"}
	<div class="detail-wrapper slide-down clearfix">
		<div class="title col">{cw_name}</div>
		<div class="type col">
			<div class="col-title">type</div>
			<div class="col-content">
				{cw_type_list}
				<div>{cw_type}</div>
				{/cw_type_list}					
			</div>
		</div>
		<div class="client col">
			<div class="col-title">client</div>
			<div class="col-content">
				<div>{cw_client}</div>					
			</div>			
		</div>
		{if cw_agency}
		<div class="agency col">
			<div class="col-title">agency</div>
			<div class="col-content">
				<div>{cw_agency}</div>					
			</div>
		</div>
		{/if}

		<div class="role col">
			<div class="col-title">role</div>
			<div class="col-content">
				{cw_role_list}
				<div>{cw_role}</div>
				{/cw_role_list}					
			</div>
		</div>
	</div>
	{/exp:channel:entries}	

</div>

 
